<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FCOS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      {% block header %}
      <h1>Five Cities Orchid Society</h1>
      {% endblock %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
